* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  background-color: #093931;
  height: 300px;
}

.nav{
  display: flex;
  justify-content: right;
}

.nav a{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;      
}

header h2{
  font-size: 30px;
  width: 400px;
  line-height: 46px;
  font-family: sans-serif;
  color: #F5D38E; 
  float: left;
  text-align: center;
}


.nav a:hover {
  background-color: none;
  color: #F5D38E;
}

section .img1Header img{
  width:407px; 
  height: 543px;
}

section .img2Header img{
  width:241px; 
  height: 321px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }