@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
  --color-primary: #093931;
  --color-secondary: #F5D38E;
  --color-tertiary: #fff;
  --color-paragraph: #9095A0;
  --tipography-titles: "Cormorant Garamond", serif;
  --tipography-text: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  background-color: var(--color-primary);
  height: 450px;
}

header .nav .header__menu {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;

}

.nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 132px;

}

header .nav .header__logo {
  text-decoration: none;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
  color: var(--color-secondary);
  font-family: var(--tipography-titles);
}

.nav .Enlaces a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--tipography-text);
  white-space: nowrap;
}

.nav a:hover {
  background-color: none;
  color: var(--color-secondary);
  border-radius: 3px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 14px;
}

.buscador {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.titulo {
  font-size: 62px;
  color: var(--color-secondary);
  font-family: var(--tipography-titles);
  text-align: center;
  padding-bottom: 25px;

}

input.src {
  padding: 9px 10px 9px 38px;
  outline: none;
  font-size: 18px;
  border-radius: 26px;
  color: #323842;
  background: var(--color-tertiary) url("../assets/img/search_24dp_FILL0_wght400_GRAD0_opsz24.svg") no-repeat 9px center;
  width: 751px;
  height: 51px;
  font-family: var(--tipography-text);

}

#filtros {
  list-style: none;
  display: flex;
  gap: 1em;
  align-items: center;
  padding-left: 3.8rem;
  flex-wrap: wrap;
}

#filtros button {
  width: 9.3rem;
  height: 2.4rem;
  padding: 0.6em;
  border: transparent;
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 80ms ease-in-out;
  border-right: 1px solid #9AEFE2;
}

#filtros button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

#filtros .active {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  border-radius: 44px;
}

.filtro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-top: 3rem;
  padding-right: 3.8rem;
  
}

select {
  outline: none;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid var(--color-paragraph);
  color: #171A1F;
  background: var(--color-tertiary);
  width: 144px;
  height: 36px;
  font-family: var(--tipography-text);

}

#coleccion {
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.4rem, 1fr));
  gap: 1.5rem;
}

.card {
  border-radius: 8px;
  border: 1px solid #ccc;
}

.card:hover {
  border: 3px solid var(--color-secondary);
  background-color: var(--color-primary);
  padding: 0.5em;
  border-radius: 5px;
  color: var(--color-tertiary);
}

.card figure {
  width: 100%;
  aspect-ratio: 276/320;
}

.card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
}

.card section {
  width: 100%;
  height: 5.25rem;
  aspect-ratio: 276/84;
}

.card div h3 {
  font-family: var(--tipography-titles);
  font-size: 1.25rem;
}

.card div p {
  font-family: var(--tipography-text);
}

.card div {
  padding: 1.15em 0.75em 0.75em 0.75em;
  text-align: left;
}

.arrow {
  border: solid var(--color-paragraph);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.uno {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.seccion-uno {
  text-align: center;
  margin: 50px;
}

.icono {
  width: 62px;
  height: 62px;
}

.pagination {
  display: inline-block;
  font-family: var(--tipography-text);
  display: flex;
  justify-content: center;
  padding-top: 30px;

}

.pagination a {
  color: var(--color-paragraph);
  float: left;
  padding: 9px 17px;
  text-decoration: none;

}

.pagination a.active {
  background-color: var(--color-tertiary);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 50%;
  padding: 8px 14px;

}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 50%;
}

footer {
  background-color: var(--color-primary);
  font-family: var(--tipography-text);
  width: 100%;
  height: 234px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

footer .grupo1 {
  color: var(--color-tertiary);
  text-decoration: none;
  margin: 10px;
  display: flex;

}

footer h2 {
  margin: 0 0 0 30px;
}

footer h2 {
  font-family: var(--tipography-titles);
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  color: #F5D38E;
}

footer .lista {
  width: 70px;
  height: 90px;
  margin-top: 70px;
  margin-left: 200px;
  list-style: none;
  padding: 0;
  display: flex;

}

.lista ul li a {
  color: var(--color-tertiary);
  text-decoration: none;
  align-items: center;
  text-align: center;
  transition: color 0.3s;
  flex-direction: column;

}

.lista ul li {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 18px;
  flex-wrap: wrap;
}

footer .lista2 {
  margin-top: 70px;
  margin-left: 100px;
}

footer .div_3 p {
  flex-direction: column;
  font-size: 12px;
  line-height: 30px;
  color: var(--color-tertiary);
  font-weight: 400;
  width: 300px;

}

form {
  display: flex;
  flex-direction: row-reverse;

}

footer input {
  background-color: var(--color-primary);
  border: solid 1px var(--color-tertiary);
  width: 265px;
  height: 30px;
  padding: 7px 12px 6px 12px;
  border-radius: 18px 0px 0px 18px;
  border: 1px 0px 0px 0px;
  color: var(--color-tertiary);
  font-size: 10px;

}

footer button {
  width: 110px;
  background-color: var(--color-secondary);
  border-radius: 0px 50px 50px 0px;
  border: none;
  cursor: pointer;
}

footer .section-footer2 {
  display: flex;
}

footer .red_social {
  text-decoration: none;
  color: #FFFFFF;
  width: 55px;
  height: 10px;
  line-height: 5px;
  justify-content: flex-end;
  display: flex;
  margin-left: 950px;

}

footer .red {
  margin-left: 20px;
  font-size: 25px;

}

footer .derechos p {
  width: 80%;
  color: #FFFFFF;
  font-size: 10px;
  margin-left: 40px;
  align-content: flex-end;
}



@media (min-witdth: 1025px) {
  #coleccion {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 600px) {
  .card:nth-child(9) {
    grid-column: 1/3;
    grid-row: 3/5;
  }

  .card:nth-child(9) figure {
    aspect-ratio: 576/734;
  }
  .card:nth-child(9) h3 {
    font-size: 1.75rem;
  }
}

@media (max-width: 850px) {


  header .nav .header__menu {
    display: block;
    margin-top: 5px;
  }

  .Enlaces {
    display: none;
  }


  .uno {
    flex-direction: column;
  }

  input.src {
    width: 300px;

  }

}
@media (max-width: 375px) {
  footer {
    width: 100%;
    flex-direction: column;
    align-content: center;
    height: auto;
  }

  footer .grupo1 .lista {
    width: 20%;
    text-align: center;
    margin: 20px 0;
  }

  footer .grupo1, footer .section-footer2 {
    flex-direction: column;
    align-items: center;
  }

  footer h2 {
    font-size: 24px;
    text-align: center;    
  }

  footer .grupo1 .lista2 {
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
  }

  footer .grupo1 .div_3 p {
    width: 250px;
    text-align: center;
  }

  footer input,
  footer button {
    width: 100%;
    margin: 10px 0;
  }

  footer .red_social {
    margin: 20px 0;
    justify-content: center;
  }

  footer .derechos p {
    width: 100%;
    text-align: center;
  }
}


/* Tablets (800px) */
@media (max-width: 800px) {
  footer {
    flex-direction: column;
    height: auto;
  }

  footer .section-footer2 {
    flex-direction: column;
    align-items: center;
  }

  footer .grupo1 {
    flex-wrap: wrap;
  }

  footer h2 {
    font-size: 28px;
    text-align: center;
    margin: 0 0 0 40%;
    align-items: center;
  }

  footer .lista2 {
    flex-direction: column;
    width: 70%;
    align-content: center;  
  }

  footer input,
  footer button {
    width: 100%;
    margin: 10px 0;
  }

  footer .red_social {
    margin: 20px 0;
    justify-content: center;
  }

  footer .derechos p {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
} 

@media (min-width: 1440px) {
  footer {
    flex-direction: row;
    height: auto;
  }

  footer .grupo1,
  footer .section-footer2 {
    flex-direction: row;
    align-items: flex-start;
  }

  footer h2 {
    font-size: 30px;
    text-align: left;
    margin: 0 0 0 30px;
  }

  footer .lista,
  footer .lista2 {
    margin: 20px 0;
    margin-left: 200px;
    width: auto;
  }

  footer input,
  footer button {
    width: auto;
  }

  footer .red_social {
    margin-left: 0;
    justify-content: flex-end;
  }

  footer .derechos p {
    width: 80%;
    text-align: left;
    margin-left: 40px;
  }
}