@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root{
  --color-primary: #093931;
  --color-secondary: #F5D38E;
  --color-tertiary: #fff;
  --color-paragraph: #9095A0;
  --tipography-titles: "Cormorant Garamond", serif;
  --tipography-text: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  background-color: var(--color-primary);
  height: 450px;
}

.nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: 10px 132px;
  
}

header .nav .header__logo {
  text-decoration: none;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
  color: var(--color-secondary); 
  font-family: var(--tipography-titles);
}

.nav .Enlaces a{
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--tipography-text);
  white-space: nowrap;   
}

.nav a:hover {
  background-color: none;
  color: var(--color-secondary);
  border-radius: 3px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 14px;
}



  
  .uno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  
  .seccion-uno {
    text-align: center;
    margin: 50px;
  }
  
  .icono {
    width: 62px;
    height: 62px;
  }
  
  